<div class="row">
    <h1>New User</h1>
</div>


<div class="d-flex flex-row">

       <form action="<%= users_url %>" method="POST">
           <%= auth_token %>

              
           <label for="email" class="d-flex justify-content-center">Email</label>
           <input type="text"
                  id="email"
                  name="user[email]"
                  class="d-flex justify-content-center"
                  value="<%= @user.email %>">


           <label for="password" class="d-flex justify-content-center">Password</label>
           <input type="password"
                  id="password"
                  name="user[password]"
                  class="d-flex justify-content-center">

           <input class="d-flex justify-content-center" type="submit" value="Register!">
       </form>

</div>

