<div class="content">

<h1>New Session</h1>

<form action="<%= session_url %>" method="POST">
    <%= auth_token %>

    <label for="email">Email</label>
    <input type="text"
           id="email"
           name="user[email]">


    <label for="password">Password</label>
    <input type="password"
           id="password"
           name="user[password]">

    <input type="submit" value="Log In!">
</form>

</div>