<div class="content">

    <h1>Band List</h1>

    <ul>
        <% @bands.each do |band| %>
            <li>
                <%= band.name %>
                <%= link_to('Edit', band_url(band)) %>
            </li>
        <% end %>
    </ul>

</div>